<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="cache-control" content="public">
        <meta http-equiv="refresh"       content=1>
        <meta name="description"         content="Visualization of cleaning pipeline results">
        <meta name="author"              content="Saulo Aflitos">
        <title>Cleaning Pipeline</title>
    </head>


    <body>
        <h2>loading...</h2>
    </body>
    {% include 'footer.html' -%}
    <link href="/loading"                  rel="stylesheet" />
</html>
